
.venv/
.agents/
quectel_build/
*.vsix
dove/.claude
dove/.dove
dove/.github
dove/env/env_backup
dove/dist
dove/node_modules
dove/src
dove/test
dove/package.json
dove/package-lock.json
dove/tsconfig.json
dove/quectel_build
dove/*.log
dove/ecflashtool
dove/pacdownload